.App {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.card-title {
  margin-top: 12px;
  text-align: center;
}
